* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, sans-serif;
  background: linear-gradient(135deg, #1a1a1a 0%, #333 100%); 
  color: white;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  margin-top: 80px;
  
  display: flex;       
  justify-content: center;
  align-items: flex-start; 
  

  width: 100%;
  padding-top: 50px; 
  padding-bottom: 50px;
  flex: 1;
}